* {
    margin: 0;
    padding: 0;
    list-style: none;

}

body {
    transition: background 0.3s ease;
}


input:focus {
    outline: none;
}


a {
    text-decoration: none;
}


.topBar {
    width: auto;
    height: 23px;
    background-image: linear-gradient(270deg, #F7C9F3 0%, #4180F6 100%);
    font-family: 'Chakra Petch', sans-serif;
    color: #FFFF;
    font-size: 12px;
    justify-content: space-between;
    display: flex;
    padding-right: 4px;

}

.title {
    box-shadow: 0 1px 0 0 #110038;
    font-weight: 300;
    margin: 1.5px;
}

.topBar p {
    padding: 3px 0 0 5px
}



.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding: 0 7%;
}


#logo {
    width: 7.2%;
    height: 100%;

}

#logo:hover {
    cursor: pointer
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 3% 0%;
}

nav>div {
    display: flex;
}

/* Botones principales del index */


.buttons a {
    display: flex;
    margin-left: 13px;
}

.button-primary {

    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1.5px -1.5px 0 0 #997D97, inset 1.5px 1.5px 0 0 #FFFFFF;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    text-align: center;
    line-height: 18px;
    height: 26px;
    padding: 6px 26px 0 26px;
    cursor: pointer;


}

.buttons .button-primary:nth-last-of-type(1) {
    margin-left: 0px;
    margin-right: 16px;
    padding: 6px 15px 0 15px;
    background-image: url(/assets/dropdown.svg);
    background-repeat: no-repeat;
    background-position: center center;
    border-left: 0px;

}



.myGifos {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    padding-top: 7px;
    height: 24px;
    width: 80px;
}

.myGifos::first-letter {
    border-bottom: 1px solid #110038;
    border-bottom-width: 0.01px;
}

.myGifos:hover {
    outline: 1px dotted #110038;

}

.myGifos:active {
    color: hsl(258, 100%, 82%);
    outline: 0px;
}

.myGifos:active::first-letter {
    border-bottom: 1px solid hsl(258, 100%, 82%);
}


.dropdown {
    position: absolute;
    width: 168px;
    height: 103px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 13px;
    z-index: 10;
}

.dropdown ul {
    padding-top: 9px;
}

.dropdown li {
    background: #F0F0F0;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
    color: #110038;
    padding: 8px 0px;
    margin-bottom: 6px;
}

.dropdown span {
    padding-left: 10px;
}

.dropdown li:hover {
    cursor: pointer;
    background: #FFF4FD;
    border: 1px solid #CCA6C9;
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
}

.nav.dropdown li:hover::first-letter {
    border-bottom: 1px solid #110038;

}

.box {
    width: auto;
    height: 90px;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    padding: 2px;
}


.font14 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.7;
    padding-left: 3px;
}

.content-search {
    display: flex;
    align-items: center
}

.box input {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 85%;
    height: 48px;
    margin: 10px 8px 8px 12px;
    font-family: 'Chakra Petch', sans-serif;
    color: #110038;
    font-size: 16px;
    line-height: 22px;
    padding-left: 14px;

}

.box input::placeholder {
    color: #B4B4B4;
}

.box button {
    cursor: pointer;
    width: 10.5%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16.6px;
    letter-spacing: 0;
    line-height: 17px;

}

.submit {

    color: #B4B4B4;
    background: #E6E6E6;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}

.submit-imput {
    color: #110038;
    background: #F7C9F3;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
}

.submit-imput:active {
    outline: 1px dotted #110038;

}

.buttons:hover .button-primary:not(.recording),
.button-primary:hover:not(.recording),
.active {
    background-color: #E6BBE2;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.busqueda .active {
    color: #110038;
}

.busqueda .active .lupa {
    background-image:  url(/assets/lupa.svg);
} 

.night.busqueda .active .lupa{
    background-image: url(/assets/lupa_light.svg);
}

.night.busqueda .active{
    color: #ffff
}

.lupa {
    background-image: url(/assets/lupa_inactive.svg);
    background-repeat: no-repeat;
    background-position: center center;
    height: 20px;
    width: 20px;
    margin-right: 6px;

}

.lupa-input {
    background-image: url(/assets/lupa.svg);
}

.subtitle {
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    margin-bottom: 16px;
}

.subtitle h2 {
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #110038;
    letter-spacing: 0;
    padding: 7px;
}



.trend {
    display: flex;
    justify-content: space-between;
    margin-bottom: 59px;
}

.suggestions.box {
    width: 23%;
    margin-left: 2%;
    height: auto;
}

.suggestions.box:nth-child(1) {
    margin-left: 0px;
}

.trend .topBar {
    margin: 0 1px;
}

.suggestions .gif img {
    padding-right: 3px;
    height: 300px;
    z-index: -2;
}

.gif {
    justify-content: center;
    height: 241px;
    clip-path: inset(0.4% 0% 0.4% 0.4%);
    display: flex;
}

.viewmore {
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    position: absolute;
    margin-top: -48px;
    margin-left: 9px;
    height: 32px;
    align-items: center;
}

.viewmore a {

    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-align: center;
    line-height: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
    padding-top: 17px;
    margin-top: 17px;
}

.viewmore:hover {
    background: #3A72DB;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.trendings {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trendings .suggestions.box {
    width: 24%;
    height: fit-content;
    margin-left: 0px;
    margin-top: 9px;
}

/*se aplican por js*/

.trend-gif {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 281px;
    clip-path: inset(1% 0% 1% 0%);
    width: 24%;
    overflow: hidden;
    margin: 7px 0px;
}

.trend-gif img {
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: initial;
}

.gif.hover {
    height: 272px;
    margin: 0px;
    padding: 0px;
    outline: 1px dotted #110038;
    outline-offset: -4px;

}

.tagsBar::before {
    content: "#";
}

.wide {
    width: 49.5%;
}

.wide img {
    width: 100%;
    top: 0px;
    align-items: initial;
    object-fit: cover;
    object-position: top;
}


.wide.suggestions.box {
    width: 49%;

}

.wide.suggestions.box .gif.hover img {
    object-fit: cover;
}

.topBar.hover {
    position: absolute;
    width: 20%;
    margin-top: 250px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    z-index: -1;
    padding-left: 25px;
    justify-content: start;
    text-transform: lowercase;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
}

.topBar.hover span {
    margin-right: 3px;
}

.wide .topBar.hover {
    padding-left: 29px;
}

.wide.suggestions.box .topBar.hover {
    width: 42%;
}

.dropdown.results {
    position: absolute;
    width: 86%;
    height: auto;
    background: #E6E6E6;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 0px;
    z-index: 10;
    max-width: 1200px;
}

.searchs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.dropdown.results li {
    width: 86%;
    margin-left: 1%;
    margin-right: auto;
    padding: 8px 14px;
    margin-bottom: 8px;
    cursor: pointer;
}

.dropdown.results li::first-letter {
    text-transform: capitalize
}

.dropdown.results li:hover {
    background: #cbcaca;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    border: 1px solid #808080;
    outline: 1px dotted #110038;
    outline-offset: -4px;
}

.tags-related{
    display: flex;
    height: 50px;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 11px 0;
}

.tag {
    background: #4180F6;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    margin-left: 9px;
    height: 32px;
    margin-top: 0px;
    line-height: 32px;
    font-family: 'Chakra Petch';
    color: #fff;
    padding: 0 11px;
}

.tag:hover {
    cursor: pointer;
}

/*VIDEO*/

.video .box {
    width: 55%;
    margin-left: auto;
    margin-right: auto;
    height: 362px;
    margin-top: 50px;
    margin-bottom: 150px
}

.video .box#modal2{
    display: none;
    width: 68%;
    margin-left: auto;
    margin-right: 18%;
    height: 500px;
}

.info {
    display: flex;
    margin: 26px 0px 17px 20px;
}

.info img {
    height: fit-content;
}

.text {
    margin-left: 10px;
    margin-right: 13%;
}

.text h3 {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #110038;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom: 2.3%;
}

.text p {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 500;
    font-size: 13.2px;
    color: #110038;
    letter-spacing: 0;
    line-height: 20px;
    margin-bottom: 1.5%;
}

.text p span{
    font-weight: 700;
    font-size: 14px;
}

.text p span.i {
    font-style: italic;
}

.video #logo {
    width: 95%;
    height: auto;
}

.logo:before {
    content: url(../assets/arrow.svg);
    position: absolute;
    margin-left: -40px;
    margin-top: 10px;
    cursor: pointer;
}

.video nav{
    justify-content: flex-start;
}

.video nav span{
    padding-left: 40px;
    margin-left: -40px;
    z-index: 999;

}

.btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 13px;
}

.btn .button-primary:not(#upload) {
    margin-right: 13px;
}

.cancel{
    background-color: #FFF4FD;
}

.cancel:hover{
    background-color: #e7e7e7;
}

.camera{
    background: #fff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    object-fit: cover;
    margin: 11px;
    height: 400px;  
}

video {
    width: 99.6%;
    clip-path: inset(0.4% 0% 17.5% 0.4%);
    background: #fff;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    object-fit: cover;
    height: fit-content;
}

.video .buttons {
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
}

.video div#button3 {
    padding: 6px 16px 0 16px;
    background-image: url(./assets/camera.svg);
    background-repeat: no-repeat;
    background-position: center center;
}

.video div#button4 {
    background-image: none;
    padding: 6px 28px 0 28px;
    min-width: 62px;

}

a#btns-preview {
    display: flex;
    justify-content: space-between;
    margin-right: 13px;
}

.video .counter {
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 103px;
    margin-left: 12px;
    visibility: hidden;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 14px;
    color: #110038;
    letter-spacing: 0;
    line-height: 32px;
    text-align: center;
}

.video .recording, .video.night  .recording{
    background: #FF6161;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
    color: white;
}

.video .recording#button3 {

    background-image: url(./assets/recording.svg);
}

.video .preview {
    width: 725px;
    clip-path: inset(0.4% 0% 17.5% 0.4%);
}

.video .btn2{
    display: flex;
    justify-content: space-between;
}

/*TEMA NIGHT*/

.night {
    background-color: #110038;
}

.night .topBar {
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.night .button-primary {
    background: #EE3EFE;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;


}

.night .buttons .button-primary:last-child {
    background-image: url(/assets/dropdownnight.svg);
}

.night .myGifos {
    color: #FFFFFF;
    ;

}

.night .myGifos::first-letter {
    border-bottom: 1px solid #FFFFFF;
}



.night .myGifos:hover {
    outline: 1px dotted #FFFFFF;
}

.night .myGifos:hover {
    outline: 1px dotted #FFFFFF;
}

.night .myGifos:active {
    color: hsl(0, 0%, 61%);
    outline: 0px;
}

.night .myGifos:active::first-letter {
    border-bottom: 1px solid hsl(0, 0%, 61%);
    ;
}

.night .dropdown {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.night .dropdown li {
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;

}

.night .dropdown li:hover {
    background: #2E32FB;
    color: #FFFFFF;

}

.night .dropdown li:hover::first-letter {
    border-bottom: 1px solid #FFFFFF;

}

.night .box {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}



.night .submit {
    color: #8F8F8F;
    background: #B4B4B4;

}

.night .nightSubmit-input {
    color: white;
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.night .buttons:hover .button-primary:not(.recording),
.night .button-primary:hover:not(.recording),
.night .active {
    background-color: #CE36DB;
}

.night .lupa {
    background-image: url(/assets/Combined-Shape.svg);
}

.night .lupa-input {
    background-image: url(/assets/lupa_light.svg);
}

.night .subtitle {
    border: 1px solid #2E32FB;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.night .viewmore {
    background: #2E32FB;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.night .viewmore:hover {
    background: #2629CC;
}

.night .dropdown.results {
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.night .dropdown.results li:hover {
    background: #CCCCCC;
    color: #110038;
}

.night .cancel{
    background-color: #919191;
}

.night .cancel:hover{
    background-color: #6c6c6c;
}

.video.night div#button3 {
    background-image: url(./assets/camera_light.svg);

}

.hidden {
    display: none;
}